<!-- <div class="pull-right">
  <%= link_to("Add a job", new_job_path, :class => "btn btn-default" ) %>
</div> -->

<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider"data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    排序
      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li>
      <%= link_to("按照薪资下限排序",jobs_path(:order => "by_lower_bound")) %>
    </li>
    <li>
      <%= link_to("按照薪资上限排序",jobs_path(:order => "by_upper_bound")) %>
    </li>
    <li>
      <%= link_to("按照发表时间排序",jobs_path) %>
    </li>
  </ul>
</div>

<!--
<table class="table table-boldered">
  <thead>
    <tr>
      <td>职位</td>
      <td>薪资下限</td>
      <td>薪资上限</td>
      <td>刊登时间</td>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td>
        <%= link_to(job.title, job_path(job))  %>
        </td>
        <td>
          <%= job.wage_lower_bound %>
        </td>
        <td>
          <%= job.wage_upper_bound %>
        </td>
        <td>
          <%= job.created_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
-->

<div class="container">
    <div class="col-sm-12">
    <% @jobs.each do |job| %>
    <div class="bs-calltoaction bs-calltoaction-primary">
        <div class="row">
            <div class="col-md-9 cta-contents">
                <h1 class="cta-title"><%= link_to(job.title, job_path(job))  %></h1>
                <hr />
                <div class="cta-desc">
                    <p>薪资：<%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>美元.</p>
                    <p>工作地点：斯塔克大厦.</p>
                    <p>发布时间：<%= job.created_at %>.</p>
                </div>
            </div>
            <div class="col-md-3 cta-button">
              <%= link_to("查看详情", job_path(job), :class => "btn btn-lg btn-block btn-primary")%>
            </div>
         </div>
    </div>

    <% end %>
  </div>
</div>
